@model MvcPostInsigths.Models.Jugador

@{
    ViewData["Title"] = "PerfilJugador";
}

<h1>Perfil de jugador logueado</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dorsal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dorsal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
    </dl>
</div>
